#icu-hrs-projects-nd {
    font-size: 60px;
}

#icu-hrs-max-nd {
    font-size: 60px;
}

#age-avg-projects-nd {
    font-size: 60px;
}

#age-max-projects-nd {
    font-size: 60px;
}

.dc-chart g.row text {
    fill: black;
    font-size: 12px;
}